.container {
  background-color: white;
  width: 80vw;
  min-height: 60vh;
  margin: auto;
  margin-top: 100px;
  padding: 20px;
  border-radius: 10px;
  border-top: 10px solid #68d391;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -2px rgb(0 0 0 / 5%);
}

.heading-container {
  display: flex;
  justify-content: space-between;
}

.heading-container span {
  color: #61b481;
}

.question {
  margin: 10px 0px;
}

.option-container {
  margin-top: 30px;
}
